<ion-list>

  <ion-item (click)="setType(null)">All</ion-item>
  <ion-item (click)="setType('N')">News</ion-item>
  <ion-item (click)="setType('T')">ThinkTanks</ion-item>
  <ion-item (click)="setType('O')">Official EU</ion-item>
  <hr>
  <ion-item (click)="setType('NP')">Politics</ion-item>
  <ion-item (click)="setType('NT')">SciTech</ion-item>
  <ion-item (click)="setType('NS')">Sports</ion-item>

</ion-list>