page-popover-language {

	.flag-icon-background {
	  background-size: contain;
	  background-position: 50%;
	  background-repeat: no-repeat;
	}
	.flag-icon {
	  background-size: contain;
	  background-position: 50%;
	  background-repeat: no-repeat;
	  position: relative;
	  display: inline-block;
	  width: 1.33333333em;
	  line-height: 1em;
	}
	.flag-icon:before {
	  content: "\00a0";
	}
	.flag-icon.flag-icon-squared {
	  width: 1em;
	}

	.flag-icon-en {
		background-image: url(../assets/flags/us.svg);
	}

	.flag-icon-de {
		background-image: url(../assets/flags/de.svg);
	}

	.flag-icon-dk {
		background-image: url(../assets/flags/dk.svg);
	}

	.flag-icon-uk {
		background-image: url(../assets/flags/gb.svg);
	}

	.flag-icon-us {
		background-image: url(../assets/flags/us.svg);
	}

	.flag-icon-eu {
		background-image: url(../assets/flags/eu.svg);
	}

	.flag-icon-fr {
		background-image: url(../assets/flags/fr.svg);
	}

	.flag-icon-fi {
		background-image: url(../assets/flags/fi.svg);
	}

	.flag-icon-mx {
		background-image: url(../assets/flags/mx.svg);
	}

	.flag-icon-br {
		background-image: url(../assets/flags/br.svg);
	}

	.flag-icon-nl {
		background-image: url(../assets/flags/nl.svg);
	}

	.flag-icon-be {
		background-image: url(../assets/flags/be.svg);
	}

	.flag-icon-at {
		background-image: url(../assets/flags/at.svg);
	}

	.flag-icon-ch {
		background-image: url(../assets/flags/ch.svg);
	}

	.flag-icon-pt {
		background-image: url(../assets/flags/pt.svg);
	}

	.flag-icon-es {
		background-image: url(../assets/flags/es.svg);
	}

	.flag-icon-it {
		background-image: url(../assets/flags/it.svg);
	}

	.flag-icon-au {
		background-image: url(../assets/flags/au.svg);
	}

	.flag-icon-nz {
		background-image: url(../assets/flags/nz.svg);
	}

	.flag-icon-ca {
		background-image: url(../assets/flags/ca.svg);
	}

}
