<span *ngIf="!_disabled">
  <a (click)="follow($event)">
    <span *ngIf="isSaved < 1"><ion-icon name="heart-outline"></ion-icon></span>
    <span *ngIf="isSaved > 0"><ion-icon name="heart"></ion-icon></span>
  </a>
</span>