<!--
  Generated template for the SourcePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border-bottom>

    <ion-title>
      <span float-left class="logo">
        <span class="inner"></span>
      </span>
      <span class="logo-text">Source</span>
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-refresher (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
 
      <ion-item>
        <h2>{{source.name}}</h2>
          <button ion-button item-right clear small *ngIf="isLoggedIn">
            <span *ngIf="source.isFollowed > 0" (click)="follow()"><ion-icon name="heart"></ion-icon></span>
            <span *ngIf="source.isFollowed < 1" (click)="follow()"><ion-icon name="heart-outline"></ion-icon></span>
          </button>
      </ion-item>
      
      <span class="source-logo" *ngIf="source.logo && source.logo !== null">
        <img src="{{data.assets.images}}{{source.logo}}" />
      </span>

      <ion-row>
        <ion-col center text-center>
          <span *ngIf="source.stat_votes > -1"><ion-icon name="arrow-up"></ion-icon> </span>
          <span *ngIf="source.stat_votes < 0"><ion-icon name="arrow-down"></ion-icon> </span>
          {{source.stat_votes}} (user)score
        </ion-col>
        <ion-col  small center text-center>
          <span>{{source.stat_followers}} followers</span>
        </ion-col>
        <ion-col center text-center>
          <ion-icon name="list"></ion-icon> {{source.stat_items}} items
        </ion-col>
        <ion-col center text-center>
          <ion-icon name="chatboxes"></ion-icon> {{source.stat_comments}} comments
        </ion-col>
      </ion-row>
 
    <ion-toolbar no-border-top>
      <ion-segment (ionChange)="setCategory($event)">
        <ion-segment-button value="likes">
          Likes
        </ion-segment-button>
        <ion-segment-button value="dislikes">
          Dislikes
        </ion-segment-button>
        <ion-segment-button value="new">
          New
        </ion-segment-button>
        <ion-segment-button value="old">
          Old
        </ion-segment-button>
        <ion-segment-button value="comments">
          Comments
        </ion-segment-button>      
      </ion-segment>
    </ion-toolbar>

    <ion-list>

      <div *ngFor="let item of items">

        <item [item]="item" [assets]="assetsLocation"></item>

      </div>

    </ion-list>

    <ion-infinite-scroll (ionInfinite)="getItemsFrom($event)">
     <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
