<!--
  Generated template for the CommentBoxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border-bottom>

    <ion-title>
      <span float-left class="logo">
        <span class="inner"></span>
      </span>
      <span class="logo-text">Comment</span>
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <comment-box txt="{{params.txt}}" comment="{{params.comment}}" item="{{params.item}}" edit="{{params.edit}}" (submitted)="onSubmit($event)"></comment-box>

</ion-content>
