<ion-item text-wrap class="items-line">

  <votes item-start votes="{{item.votes}}" vote="{{item.vote}}" id="{{item.stub}}" type="item"></votes>
  <div  (click)="toggleItemDetails(item)">
    <h2>{{item.title}}</h2>
    <p><span class="flag-icon flag-icon-{{countrify(item.source_country)}}"></span> {{dt(item._dt)}} - <span class="cover-item-icon" *ngIf="item.source_url_twitter!==null"><ion-icon name="logo-twitter"></ion-icon></span><span *ngIf="item.source_url_rss" class="cover-item-icon"><ion-icon name="logo-rss"></ion-icon></span>{{item.source_name}}</p>    
  </div>
  <div class="i-details" [ngClass]="{'i-details-expand' : item._details}">
    <a (click)="link(item.link)">story</a> - <a (click)="pushSource(item.source_stub)">source</a> - <a (click)="pushComments(item.stub)">{{item.comments}} comments</a><span *ngIf="isLoggedIn()"> <a (click)="setSave()">save<span *ngIf="item.saved === 1">d</span></a> </span>
  </div>
 
  <ion-avatar item-end (click)="link(item.link)">
    <span class="better-avatar">
      <span class="better-avatar-image" [ngStyle]="{
        'background-image': getImg(item.img,item.source_logo),
        'background-size':'cover'
      }"></span>
    </span>
  </ion-avatar>

</ion-item>