item {

	.i-details {

	    max-height: 0;
	    transition: max-height 0.3s ease-out;
	    overflow: hidden;

	}
	.i-details-expand {
	
		max-height:100px;
	    transition: max-height 0.3s ease-out;

	}

}
