.dark-theme {

  ion-content, ion-list, ion-item {

    background-color: #000;
    color: #fff;

  }
 
  .toolbar-title, ion-icon {
  
    color: #fff;
  
  }
 
  .header .toolbar-background {
  
    border-color: #fff;
    background-color: #000;
  
  }

}