<ion-menu [content]="content" id="menu" side="left" (ionOpen)="openMenu()">

  <ion-header>
    <ion-toolbar no-border-top>
      <ion-searchbar placeholder="News Sources" (ionInput)="filterItems($event)"></ion-searchbar>
    </ion-toolbar>

  </ion-header>

  <ion-content>

    <ion-list>
      <ion-item *ngFor="let source of sources" (click)="openSource(source.stub)">
        <ion-row>
          <ion-col col-1>
            <source-follow stub="{{source.stub}}" isSaved="{{source.isFollowed}}"></source-follow>
          </ion-col>
          <ion-col col-11>
             {{source.name}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false" [class]="theme"></ion-nav>