
  <ion-navbar no-border-bottom>
  
    <ion-title>
      <span float-left menuToggle class="logo">
        <span class="inner"></span>
      </span>
      <span class="logo-text">EUspider<span *ngIf="getType() !== null"> - {{getType()}}</span></span>
    </ion-title>


    <ion-buttons end>
      <button ion-button icon-only (click)="toggleType($event)">
        <ion-icon name="outlet"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleMenu($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>