<button ion-button small (click)="dismiss()">close</button> <button ion-button small (click)="expandToPage()">expand</button>

<comment-box txt="{{params.txt}}" comment="{{params.comment}}" item="{{params.item}}" edit="{{params.edit}}" (submitted)="onSubmit($event)"></comment-box>