<ion-header>

  <ion-navbar no-border-bottom  (click)="pop()">

    <ion-title>

      <span float-left class="logo">
        <span class="inner"></span>
      </span>
      <span class="logo-text">Saved Sources</span>
    
    </ion-title>

  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment (ionChange)="setCategory($event)">
      <ion-segment-button value="likes">
        Likes
      </ion-segment-button>
      <ion-segment-button value="dislikes">
        Dislikes
      </ion-segment-button>      
      <ion-segment-button value="new">
        New
      </ion-segment-button>
      <ion-segment-button value="old">
        Old
      </ion-segment-button>
      <ion-segment-button value="comments">
        Comments
      </ion-segment-button>      
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    
    <div *ngFor="let item of items">
      <item [item]="item" [assets]="assetsLocation"></item>
    </div>

  </ion-list>

 <ion-infinite-scroll (ionInfinite)="getItemsFrom($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
