<form (ngSubmit)="submit()">

    <ion-textarea placeholder="Please be courteous when commenting." type="text" [(ngModel)]="txt" [ngModelOptions]="{standalone: true}"></ion-textarea>

    <button ion-button type="submit" block>Submit</button>

</form>