<ion-header>

  <ion-navbar no-border-bottom>

    <ion-title>
      <span float-left class="logo">
        <span class="inner"></span>
      </span>
      <span class="logo-text">Comment</span>
    </ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>

</ion-content>