<ion-header>

  <ion-navbar no-border-bottom>

    <ion-title>
      <span float-left class="logo">
        <span class="inner"></span>
      </span>
      <span class="logo-text">Comments</span>
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content *ngIf="ready === true" padding class="comments-holder">

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <item [item]="item" assets="{{assetsLocation}}"></item>
 
  <ion-toolbar no-border-top>

    <ion-segment (ionChange)="setCategory($event)">
      <ion-segment-button value="likes">
        Likes
      </ion-segment-button>
      <ion-segment-button value="dislikes">
        Dislikes
      </ion-segment-button>
      <ion-segment-button value="new">
        New
      </ion-segment-button>
      <ion-segment-button value="old">
        Old
      </ion-segment-button>    
    </ion-segment>
  </ion-toolbar>

<button ion-button icon-start small end *ngIf="isLoggedIn() === true" (click)="commentBoxTrigger($event)"><ion-icon name="chatboxes"></ion-icon> Comment</button>

  <ion-list *ngFor="let comment of comments">
    <ion-item text-wrap>

      <comment [comment]="comment" (requestReplies)="requestReplies($event)"></comment>

    </ion-item>
  </ion-list>

 <ion-infinite-scroll (ionInfinite)="getCommentsFrom($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>


</ion-content>